@{
    ViewData["Title"] = "About SportsPro";
}

<h2>About SportsPro</h2>
<p>Welcome to SportsPro, your ultimate 
    sports management solution! We provide top-notch 
    services to sports enthusiasts, helping them manage incidents, 
    customers, products, and technicians effectively. Our dedicated team 
    ensures seamless experiences for both customers and technicians, 
    making sports management a breeze. Join us in the exciting
    world of sports and let us handle the details while you
    focus on what you love – the game!</p>

